html {
    font-family: Helvetica;
    background-color: #DDD;
}

.container{
    max-width: 1200px;
    background-color: #FFF;
    position: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    margin: 50px;
    
}

.destaque{
    font-weight: bold;
}

/* Cabeçalho */

.cabecalho{
    text-align: center;
}

.Titulo-Principal{
    font-size: 40px;
}

.paragrafo-principal{
    font-style: italic;
}