html {
    font-family: Helvetica;
    background-color: #DDD;
}

.container{
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.507);
    position: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    margin: 50px;
    
}

.destaque{
    font-weight: bold;
}


/* Cabeçalho */

.cabecalho{
    text-align: center;
}

.Titulo-Principal{
    font-size: 40px;
}

.paragrafo-principal{
    font-style: italic;
}


/* Corpo do Site */

.img-destaque{
    text-align: center;
    margin-top: 50px;
    scale: 0%;
}

.biografia-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #DDD;
    border-bottom: 1px dashed #DDD;

}

.jargao-container{
    background-color: #DDD;
    padding: 30px;
}

.frase-container blockquote{
    font-weight: 600;
    font-size: 30px;
}

.frase-container p{
    font-style: italic;
}


/* Curiosidades */

